In [2]:
import pandas as pd
import seaborn as sns
df = pd.read_csv("spotify2024.csv", encoding='ISO-8859-1')

In [9]:
df.head()

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1

In [8]:
df.columns

Index(['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC',
       'All Time Rank', 'Track Score', 'Spotify Streams',
       'Spotify Playlist Count', 'Spotify Playlist Reach',
       'Spotify Popularity', 'YouTube Views', 'YouTube Likes', 'TikTok Posts',
       'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach',
       'Apple Music Playlist Count', 'AirPlay Spins', 'SiriusXM Spins',
       'Deezer Playlist Count', 'Deezer Playlist Reach',
       'Amazon Playlist Count', 'Pandora Streams', 'Pandora Track Stations',
       'Soundcloud Streams', 'Shazam Counts', 'TIDAL Popularity',
       'Explicit Track'],
      dtype='object')

In [19]:
#month = {"January": 0, "February": 0, "March": 0, "May": 0, "June": 0, "July": 0, "August": 0, "September": 0, "Octoboer": 0, 
#       "November": 0, "December": 0}
#for idx in range(len(df)):
#   if df.loc[] >= 1 and :
#        month["January"] += 1
 #   elif song >=2 and < 3:
 #       month["February"] += 1

In [20]:
#Teacher LIVE
#This is a string(the 4)

In [32]:
months = {"Jan": 0, "Feb": 0, "Mar": 0, "Apr": 0, "May": 0, "Jun": 0, "Jul": 0, "Aug": 0, "Sep": 0, "Oct": 0, 
        "Nov": 0, "Dec": 0}
for date in df["Release Date"]:
    month = date.split("/")[0]
    if month == "1":
        months["Jan"] += 1
    elif month == "2":
        months["Feb"] += 1
    elif month == "3":
        months["Mar"] += 1
    elif month == "4":
        months["Apr"] += 1
    elif month == "5":
        months["May"] += 1
    elif month == "6":
        months["Jun"] += 1
    elif month == "7":
        months["Jul"] += 1
    elif month == "8":
        months["Aug"] += 1
    elif month == "9":
        months["Sep"] += 1
    elif month == "10":
        months["Oct"] += 1
    elif month == "11":
        months["Nov"] += 1
    elif month == "12":
        months["Dec"] += 1

In [36]:
dates = {
    "Months":["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
    "Count":[months["Jan"], months["Feb"], months["Mar"], months["Apr"], months["May"], months["Jun"], months["Jul"], 
            months["Aug"], months["Sep"], months["Oct"], months["Nov"], months["Dec"]]
}
dates = pd.DataFrame(dates)
sns.barplot(date=dates, x="Months", y="Count")

ValueError: Could not interpret input 'Months'