In [9]:
import pandas as pd
data = pd.read_csv("cats.csv")
list(data.columns)

['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender', 'ID']

In [12]:
data.columns

Index(['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender',
       'ID'],
      dtype='object')

In [19]:
#data.drop(['Unnamed: 0'], inplace=True, axis=1)//#

In [18]:
data.head

<bound method NDFrame.head of              Breed  Age (Years)  Weight (kg)          Color  Gender   ID
0     Egyptian Mau           12            7          White    Male  181
1    Scottish Fold           17            8  Tortoiseshell    Male  907
2           Sphynx            9            9         Orange    Male  732
3         Oriental            6            7           Gray  Female  464
4         Savannah           14            7  Tortoiseshell  Female  451
..             ...          ...          ...            ...     ...  ...
995     Abyssinian           18            3          Black  Female  347
996        Burmese            4            5        Pointed  Female  339
997        Persian           19            9          Cream    Male  659
998        Persian           17            3        Bicolor  Female  124
999           Manx           18            8          Black    Male  226

[1000 rows x 6 columns]>