In [23]:
import pandas as pd
data = pd.read_csv("cats.csv")
list(data.columns)

['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender', 'ID']

In [24]:
data.columns

Index(['Unnamed: 0', 'Breed', 'Age (Years)', 'Weight (kg)', 'Color', 'Gender',
       'ID'],
      dtype='object')

In [25]:
#data.drop(['Unnamed: 0'], inplace=True, axis=1)//#

In [26]:
data.head

<bound method NDFrame.head of      Unnamed: 0          Breed  Age (Years)  Weight (kg)          Color  \
0             0   Egyptian Mau           12            7          White
1             1  Scottish Fold           17            8  Tortoiseshell
2             2         Sphynx            9            9         Orange
3             3       Oriental            6            7           Gray
4             4       Savannah           14            7  Tortoiseshell
..          ...            ...          ...          ...            ...
995         995     Abyssinian           18            3          Black
996         996        Burmese            4            5        Pointed
997         997        Persian           19            9          Cream
998         998        Persian           17            3        Bicolor
999         999           Manx           18            8          Black

     Gender   ID
0      Male  181
1      Male  907
2      Male  732
3    Female  464
4    Female  451
..      ...  ...
995  Female  347
996  Female  339
997    Male  659
998  Female  124
999    Male  226

[1000 rows x 7 columns]>

In [30]:
result = data.iloc[98]

print(result)

Unnamed: 0           98.0
Breed          Maine Coon
Age (Years)             9
Weight (kg)             5
Color                Blue
Gender             Female
ID                  590.0
Name: 98, dtype: object

In [33]:
data.loc[98]["Breed"]

'Maine Coon'

In [36]:
#data.loc[len(data)] = ["Orange Tabby", 3, 5, "Orange", "Male", 0]

ValueError: cannot set a row with mismatched columns

In [34]:
data

,Unnamed: 0,Breed,Age (Years),Weight (kg),Color,Gender,ID
0,0.0,Egyptian Mau,12,7,White,Male,181.0
1,1.0,Scottish Fold,17,8,Tortoiseshell,Male,907.0
2,2.0,Sphynx,9,9,Orange,Male,732.0
3,3.0,Oriental,6,7,Gray,Female,464.0
4,4.0,Savannah,14,7,Tortoiseshell,Female,451.0
...,...,...,...,...,...,...,...
996,996.0,Burmese,4,5,Pointed,Female,339.0
997,997.0,Persian,19,9,Cream,Male,659.0
998,998.0,Persian,17,3,Bicolor,Female,124.0
999,999.0,Manx,18,8,Black,Male,226.0
1000,NaN,Orange Tabby,3,5,NaN,NaN,NaN

In [28]:
new_row = {'Breed': 'Orange Tabby', 'Age (Years)': 3, 'Weight (kg)': 5}

data = data.append(new_row, ignore_index=True)

print(data)

      Unnamed: 0          Breed  Age (Years)  Weight (kg)          Color  \
0            0.0   Egyptian Mau           12            7          White
1            1.0  Scottish Fold           17            8  Tortoiseshell
2            2.0         Sphynx            9            9         Orange
3            3.0       Oriental            6            7           Gray
4            4.0       Savannah           14            7  Tortoiseshell
...          ...            ...          ...          ...            ...
996        996.0        Burmese            4            5        Pointed
997        997.0        Persian           19            9          Cream
998        998.0        Persian           17            3        Bicolor
999        999.0           Manx           18            8          Black
1000         NaN   Orange Tabby            3            5            NaN

      Gender     ID
0       Male  181.0
1       Male  907.0
2       Male  732.0
3     Female  464.0
4     Female  451.0
...      ...    ...
996   Female  339.0
997     Male  659.0
998   Female  124.0
999     Male  226.0
1000     NaN    NaN

[1001 rows x 7 columns]

C:\Users\igarcialopez\AppData\Local\Temp\ipykernel_14532\3910001066.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(new_row, ignore_index=True)

In [38]:
data['Weight (lbs)'] = data['Weight (kg)'] * 2.205

In [39]:
data

,Unnamed: 0,Breed,Age (Years),Weight (kg),Color,Gender,ID,Weight (lbs)
0,0.0,Egyptian Mau,12,7,White,Male,181.0,15.435
1,1.0,Scottish Fold,17,8,Tortoiseshell,Male,907.0,17.640
2,2.0,Sphynx,9,9,Orange,Male,732.0,19.845
3,3.0,Oriental,6,7,Gray,Female,464.0,15.435
4,4.0,Savannah,14,7,Tortoiseshell,Female,451.0,15.435
...,...,...,...,...,...,...,...,...
996,996.0,Burmese,4,5,Pointed,Female,339.0,11.025
997,997.0,Persian,19,9,Cream,Male,659.0,19.845
998,998.0,Persian,17,3,Bicolor,Female,124.0,6.615
999,999.0,Manx,18,8,Black,Male,226.0,17.640
1000,NaN,Orange Tabby,3,5,NaN,NaN,NaN,11.025