In [4]:
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
import requests
import re

#### This piece was the old way of getting the number of editions that a book has, but it is not useful for now...

In [ ]:
#editions = soup.find_all("a")
        #for edition in editions:
            #if "/works/" in edition.get("href", ""):
                #edition_text = edition.get_text(strip=True)
                #match = re.search(r'\d+', edition_text)  # Match the first number in the text
                #if match:
                    #number = match.group()
                    #book_ratings["Editions"].append(number)

In [73]:
def cycle_through5(page):
    book_ratings = {"Title": [], "Author": [], "Editions": []}  
    count = 1  # Start from the first page

    while count <= page: 
        url = f"https://openlibrary.org/trending/yearly?page={count}"
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        titles = soup.find_all("h3", {"class": "booktitle"})
        for title in titles:
            book_ratings["Title"].append(title.get_text(strip=True))

        authors = soup.find_all("a")
        for author in authors:
            if "/authors/" in author.get("href", ""):
                book_ratings["Author"].append(author.get_text(strip=True))

        
        #span_rate = soup.find_all('span', itemprop='ratingValue')   ### Finding rating, but there was a chage of plans!
        #for span in span_rate:
            #text = span.text.strip()
            #book_ratings["Rating"].append(text)
        
        
        editions = soup.find_all("a")
        for edition in editions:
    # Check if '/works/' is in the href attribute
            if "/works/" in edition.get("href", ""):
        # Clean the text and extract the number using regex
                edition_text = edition.get_text(strip=True)
        
        # Only continue if the text is related to 'editions' (avoid unwanted tags)
                if "edition" in edition_text.lower():
                    match = re.search(r'\d+', edition_text)  # Match the first number in the text
                    if match:  # If a number is found
                        number = match.group()  # Extract the matched number
                        book_ratings["Editions"].append(number)
            
        
        print(f"Page {count} scraped successfully.")
        count += 1

    min_length = min(len(book_ratings["Title"]), len(book_ratings["Author"]), len(book_ratings["Editions"]))
    for key in book_ratings:
        book_ratings[key] = book_ratings[key][:min_length]
    return book_ratings

In [83]:
df = pd.DataFrame(cycle_through5(100))

Page 1 scraped successfully.
Page 2 scraped successfully.
Page 3 scraped successfully.
Page 4 scraped successfully.
Page 5 scraped successfully.
Page 6 scraped successfully.
Page 7 scraped successfully.
Page 8 scraped successfully.
Page 9 scraped successfully.
Page 10 scraped successfully.
Page 11 scraped successfully.
Page 12 scraped successfully.
Page 13 scraped successfully.
Page 14 scraped successfully.
Page 15 scraped successfully.
Page 16 scraped successfully.
Page 17 scraped successfully.
Page 18 scraped successfully.
Page 19 scraped successfully.
Page 20 scraped successfully.
Page 21 scraped successfully.
Page 22 scraped successfully.
Page 23 scraped successfully.
Page 24 scraped successfully.
Page 25 scraped successfully.
Page 26 scraped successfully.
Page 27 scraped successfully.
Page 28 scraped successfully.
Page 29 scraped successfully.
Page 30 scraped successfully.
Page 31 scraped successfully.
Page 32 scraped successfully.
Page 33 scraped successfully.
Page 34 scraped successfully.
Page 35 scraped successfully.
Page 36 scraped successfully.
Page 37 scraped successfully.
Page 38 scraped successfully.
Page 39 scraped successfully.
Page 40 scraped successfully.
Page 41 scraped successfully.
Page 42 scraped successfully.
Page 43 scraped successfully.
Page 44 scraped successfully.
Page 45 scraped successfully.
Page 46 scraped successfully.
Page 47 scraped successfully.
Page 48 scraped successfully.
Page 49 scraped successfully.
Page 50 scraped successfully.
Page 51 scraped successfully.
Page 52 scraped successfully.
Page 53 scraped successfully.
Page 54 scraped successfully.
Page 55 scraped successfully.
Page 56 scraped successfully.
Page 57 scraped successfully.
Page 58 scraped successfully.
Page 59 scraped successfully.
Page 60 scraped successfully.
Page 61 scraped successfully.
Page 62 scraped successfully.
Page 63 scraped successfully.
Page 64 scraped successfully.
Page 65 scraped successfully.
Page 66 scraped successfully.
Page 67 scraped successfully.
Page 68 scraped successfully.
Page 69 scraped successfully.
Page 70 scraped successfully.
Page 71 scraped successfully.
Page 72 scraped successfully.
Page 73 scraped successfully.
Page 74 scraped successfully.
Page 75 scraped successfully.
Page 76 scraped successfully.
Page 77 scraped successfully.
Page 78 scraped successfully.
Page 79 scraped successfully.
Page 80 scraped successfully.
Page 81 scraped successfully.
Page 82 scraped successfully.
Page 83 scraped successfully.
Page 84 scraped successfully.
Page 85 scraped successfully.
Page 86 scraped successfully.
Page 87 scraped successfully.
Page 88 scraped successfully.
Page 89 scraped successfully.
Page 90 scraped successfully.
Page 91 scraped successfully.
Page 92 scraped successfully.
Page 93 scraped successfully.
Page 94 scraped successfully.
Page 95 scraped successfully.
Page 96 scraped successfully.
Page 97 scraped successfully.
Page 98 scraped successfully.
Page 99 scraped successfully.
Page 100 scraped successfully.

In [84]:
df

,Title,Author,Editions
0,Atomic Habits,James Clear,41
1,Control Your Mind and Master Your Feelings,Eric Robertson - undifferentiated,3
2,The 48 Laws of Power,Robert Greene,52
3,It Ends With Us,Joost Elffers,34
4,I Don't Love You Anymore,Colleen Hoover,2
...,...,...,...
1984,Wizard's First Rule,Ana Huang,1
1985,Cuando no queden más estrellas que contar,H. R. Ridwan,1
1986,De sangre y cenizas,Scott Cunningham,76
1987,Marked,Clive Cussler,50
1988,Jantar Secreto,Lisa Jewell,1

In [78]:
df["Rating"] = pd.to_numeric(df["Editions"], errors='coerce')

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     199 non-null    object
 1   Author    199 non-null    object
 2   Editions  199 non-null    object
 3   Rating    199 non-null    int64
dtypes: int64(1), object(3)
memory usage: 6.3+ KB