In [1]:
import pandas as pd
import seaborn as sns
from bs4 import BeautifulSoup
import requests

In [45]:
def cycle_through5(page):
    book_ratings = {"Title": [], "Author": []}  
    count = 1  # Start from the first page

    while count <= page: 
        url = f"https://openlibrary.org/search?q=Japan&mode=everything&sort=rating&page={count}"
        response = requests.get(url)
        soup = BeautifulSoup(response.content, 'html.parser')

        titles = soup.find_all("h3", {"class": "booktitle"})
        for title in titles:
            book_ratings["Title"].append(title.get_text(strip=True))

        authors = soup.find_all("a")
        for author in authors:
            if "/authors/" in author.get("href", ""):
                book_ratings["Author"].append(author.get_text(strip=True))

        print(f"Page {count} scraped successfully.")
        count += 1

    min_length = min(len(book_ratings["Title"]), len(book_ratings["Author"]))
    for key in book_ratings:
        book_ratings[key] = book_ratings[key][:min_length]
    return book_ratings

In [46]:
df = pd.DataFrame(cycle_through5(30))

Page 1 scraped successfully.
Page 2 scraped successfully.
Page 3 scraped successfully.
Page 4 scraped successfully.
Page 5 scraped successfully.
Page 6 scraped successfully.
Page 7 scraped successfully.
Page 8 scraped successfully.
Page 9 scraped successfully.
Page 10 scraped successfully.
Page 11 scraped successfully.
Page 12 scraped successfully.
Page 13 scraped successfully.
Page 14 scraped successfully.
Page 15 scraped successfully.
Page 16 scraped successfully.
Page 17 scraped successfully.
Page 18 scraped successfully.
Page 19 scraped successfully.
Page 20 scraped successfully.
Page 21 scraped successfully.
Page 22 scraped successfully.
Page 23 scraped successfully.
Page 24 scraped successfully.
Page 25 scraped successfully.
Page 26 scraped successfully.
Page 27 scraped successfully.
Page 28 scraped successfully.
Page 29 scraped successfully.
Page 30 scraped successfully.

In [47]:
df

                                                 Title                Author
0    Little women [in Japanese] / by Louisa May Alc...     Louisa May Alcott
1                           Of Mice and Men (SS-Japan)        John Steinbeck
2                             Shogun: a novel of Japan         James Clavell
3    Kyūshin Yaku Zensho -: The Holy Bible containi...                 Bible
4    Gulliver's travels into several remote nations...        Jonathan Swift
..                                                 ...                   ...
595  Stockwin Japan - Divided Politics in A Growth ...        Robert Wozniak
596  YAOHAN JAPAN CORP.: International Competitive ...       J. Ro Brown Jr.
597  AIR LIQUIDE JAPAN LTD: International Competiti...             P. Sheard
598  AMWAY JAPAN LTD.: International Competitive Be...  The Japan Foundation
599  EXPORT-IMPORT BANK OF JAPAN: International Com...          George Smith

[600 rows x 2 columns]